<a href="https://colab.research.google.com/github/WillyKitheka/code-doyen/blob/main/extracting_assets_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

sample_space_file = pd.read_csv('/content/drive/MyDrive/maGiK_15_sample_space/df_magik15_file1_concat.csv')

In [ ]:
sample_space_file

,Unnamed: 0,pick_0,pick_1,pick_2,pick_3,pick_4,pick_5,pick_6,pick_7,pick_8,...,pick_1594313,pick_1594314,pick_1594315,pick_1594316,pick_1594317,pick_1594318,pick_1594319,pick_1594320,pick_1594321,pick_1594322
0,match_0,H,H,H,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H
1,match_1,H,H,H,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H
2,match_2,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
3,match_3,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
4,match_4,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
5,match_5,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
6,match_6,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
7,match_7,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
8,match_8,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
9,match_9,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
10,match_10,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
11,match_11,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
12,match_12,H,H,H,H,H,H,H,H,H,...,D,A,A,A,A,A,A,A,A,A
13,match_13,H,H,H,D,D,D,A,A,A,...,A,H,H,H,D,D,D,A,A,A
14,match_14,H,D,A,H,D,A,H,D,A,...,A,H,D,A,H,D,A,H,D,A

In [ ]:
import pandas as pd

def extract_column(file_path, column_name):
    # Load the data frame from the file
    df = pd.read_csv(file_path)

    # Extract the desired column
    extracted_col = df[column_name]

    # Return the extracted column
    return extracted_col

In [ ]:
extracted_col = extract_column('/path/to/file.csv', 'column_name')

In [ ]:
# Extract the desired column
extracted_col = sample_space_file['pick_593185']
print(extracted_col)

0     H
1     H
2     D
3     H
4     D
5     H
6     H
7     D
8     H
9     A
10    H
11    H
12    A
13    D
14    D
Name: pick_593185, dtype: object

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_12/results_df_assets_12.csv')

In [ ]:
df

,Unnamed: 0,folder_path,file_name,column_name
0,0,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_593185
1,1,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_770323
2,2,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_541645
3,3,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_593175
4,4,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_542375
...,...,...,...,...
60,60,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_12754668
61,61,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_12791037
62,62,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_12791043
63,63,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_12789588
64,64,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_13904849

In [ ]:
import pandas as pd

def extract_picks(df):
    picks_list = df.loc[df['file_name'].str.contains('_file1_'), 'column_name'].tolist()
    return picks_list

In [ ]:
picks_list = extract_picks(df)

In [ ]:
picks_list
print(len(picks_list))

14

In [ ]:
import pandas as pd

def extract_picks(df, picks_list):
    assets_12_picks = df[picks_list]
    return assets_12_picks

In [ ]:


assets_12_picks = extract_picks(sample_space_file, picks_list)

print(assets_12_picks)

   pick_593185 pick_770323 pick_541645 pick_593175 pick_542375 pick_777680  \
0            H           H           H           H           H           H
1            H           H           H           H           H           H
2            D           D           D           D           D           D
3            H           D           H           H           H           D
4            D           D           H           D           H           D
5            H           H           H           H           H           H
6            H           H           D           H           D           D
7            D           D           D           D           D           D
8            H           H           D           H           A           D
9            A           A           A           A           A           A
10           H           H           A           H           A           H
11           H           H           A           H           A           A
12           A           D           A           D           A           A
13           D           D           A           D           A           A
14           D           D           D           H           A           A

   pick_718630 pick_718793 pick_719360 pick_595363 pick_601262 pick_600695  \
0            H           H           H           H           H           H
1            H           H           H           H           H           H
2            D           D           D           D           D           D
3            D           D           D           H           H           H
4            H           H           H           D           D           D
5            H           H           H           H           H           H
6            D           D           D           H           D           D
7            D           D           D           A           D           D
8            D           D           A           H           A           D
9            A           A           A           A           A           A
10           H           A           H           H           H           A
11           A           A           A           H           A           A
12           A           A           A           D           A           A
13           A           A           A           D           A           A
14           D           A           A           D           A           A

   pick_600532 pick_542212
0            H           H
1            H           H
2            D           D
3            H           H
4            D           H
5            H           H
6            D           D
7            D           D
8            D           A
9            A           A
10           H           H
11           A           A
12           A           A
13           A           A
14           D           D

In [1]:
import pandas as pd

sample_space_file_9 = pd.read_csv('/content/drive/MyDrive/maGiK_15_sample_space/df_magik15_file9_concat.csv')

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
# import 'results_df_assets_12', the file that has file_path's to the picks

results_df_assets_12 = pd.read_csv('/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_12/results_df_assets_12.csv')

In [3]:
# the task here is segregate the files so that we get what we want...
#from the file we want the picks that are in '_file9_'

import pandas as pd

def extract_picks(df):
    picks_list = df.loc[df['file_name'].str.contains('_file9_'), 'column_name'].tolist()
    return picks_list

In [4]:
# we create a list of all the picks that we are interested in...

picks_list_assets_12 = extract_picks(results_df_assets_12)

In [5]:
picks_list_assets_12

['pick_12754668',
 'pick_12791037',
 'pick_12791043',
 'pick_12789588',
 'pick_13904849']

In [18]:
import pandas as pd

def extract_picks(df, picks_list):
    assets_12_picks = df[picks_list]
    return assets_12_picks

In [7]:
# actually extracting the picks that we need...

assets_12_picks = extract_picks(sample_space_file_9, picks_list_assets_12)

print(assets_12_picks)

   pick_12754668 pick_12791037 pick_12791043 pick_12789588 pick_13904849
0              A             A             A             A             A
1              A             A             A             A             A
2              H             H             H             H             A
3              H             H             H             H             H
4              H             H             H             H             D
5              H             D             D             D             D
6              H             A             A             A             D
7              H             D             D             D             H
8              H             A             A             H             A
9              H             H             H             H             A
10             D             H             H             H             D
11             H             H             H             H             A
12             H             H             D             D             D
13             D             D             H             D             H
14             H             H             H             H             A

In [ ]:
assets_12_picks.to_csv('/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_12/assets_12_picks_A_list.csv')

In [8]:
import pandas as pd

sample_space_file_8 = pd.read_csv('/content/drive/MyDrive/maGiK_15_sample_space/df_magik15_file8_concat.csv')

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [14]:
sample_space_file_8

,Unnamed: 0,pick_11160261,pick_11160262,pick_11160263,pick_11160264,pick_11160265,pick_11160266,pick_11160267,pick_11160268,pick_11160269,...,pick_12754574,pick_12754575,pick_12754576,pick_12754577,pick_12754578,pick_12754579,pick_12754580,pick_12754581,pick_12754582,pick_12754583
0,0,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
1,match_0,D,D,D,D,D,D,D,D,D,...,D,D,D,D,D,D,D,D,D,D
2,match_1,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
3,match_2,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
4,match_3,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
5,match_4,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
6,match_5,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
7,match_6,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
8,match_7,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
9,match_8,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
10,match_9,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
11,match_10,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
12,match_11,H,H,H,H,H,H,H,H,H,...,D,A,A,A,A,A,A,A,A,A
13,match_12,H,H,H,D,D,D,A,A,A,...,A,H,H,H,D,D,D,A,A,A
14,match_13,H,D,A,H,D,A,H,D,A,...,A,H,D,A,H,D,A,H,D,A

In [9]:
# the task here is to segregate the files so that we get what we want...
#from the file we want the picks that are in '_file8_'

import pandas as pd

def extract_picks(df):
    picks_list = df.loc[df['file_name'].str.contains('_file8_'), 'column_name'].tolist()
    return picks_list

In [15]:
# we create a list of all the picks that we are interested in...

picks_list_B = extract_picks(results_df_assets_12)

In [16]:
picks_list_B

['pick_11196711', 'pick_11160678', 'pick_11193078']

In [21]:
import pandas as pd

def extract_picks(df, picks_list):
    assets_12_picks_B_List = df[picks_list]
    return assets_12_picks_B_List

In [22]:
# actually extracting the picks that we need...

assets_12_picks_B_List = extract_picks(sample_space_file_8, picks_list_B)

print(assets_12_picks_B_List)

   pick_11196711 pick_11160678 pick_11193078
0              A             A             A
1              D             D             D
2              H             H             H
3              H             H             H
4              H             H             H
5              D             H             D
6              A             H             A
7              D             H             H
8              A             H             H
9              H             D             H
10             H             A             H
11             H             H             H
12             H             D             D
13             H             D             D
14             H             H             H

In [23]:
assets_12_picks_B_List.to_csv('/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_12/assets_12_picks_B_list.csv')

In [24]:
import pandas as pd

sample_space_file_6 = pd.read_csv('/content/drive/MyDrive/maGiK_15_sample_space/df_magik15_file6_concat.csv')

In [25]:
# the task here is to segregate the files so that we get what we want...
#from the file we want the picks that are in '_file6_'

import pandas as pd

def extract_picks(df):
    picks_list = df.loc[df['file_name'].str.contains('_file6_'), 'column_name'].tolist()
    return picks_list

In [26]:
# we create a list of all the picks that we are interested in...this is from sample_space_file_6

picks_list_C = extract_picks(results_df_assets_12)

In [27]:
picks_list_C

['pick_8336473', 'pick_8835256', 'pick_8355960']

In [28]:
import pandas as pd

def extract_picks(df, picks_list):
    assets_12_picks_C_List = df[picks_list]
    return assets_12_picks_C_List

In [29]:
# actually extracting the picks that we need...

assets_12_picks_C_List = extract_picks(sample_space_file_6, picks_list_C)

print(assets_12_picks_C_List)

   pick_8336473 pick_8835256 pick_8355960
0             D            D            D
1             A            A            A
2             H            D            H
3             A            D            A
4             H            A            H
5             H            D            D
6             D            A            D
7             D            D            D
8             A            A            A
9             D            A            H
10            D            H            A
11            D            H            H
12            H            A            H
13            A            H            H
14            D            D            H

In [32]:
assets_12_picks_C_List.to_csv('/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_12/assets_12_picks_C_List.csv')

In [30]:
import pandas as pd

sample_space_file_2 = pd.read_csv('/content/drive/MyDrive/maGiK_15_sample_space/df_magik15_file2_concat.csv')

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [31]:
sample_space_file_2

,Unnamed: 0,pick_3188646,pick_3188647,pick_3188648,pick_3188649,pick_3188650,pick_3188651,pick_3188652,pick_3188653,pick_3188654,...,pick_4782959,pick_4782960,pick_4782961,pick_4782962,pick_4782963,pick_4782964,pick_4782965,pick_4782966,pick_4782967,pick_4782968
0,0,H,H,H,H,H,H,H,H,H,...,H,H,H,H,H,H,H,H,H,H
1,match_0,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,A
2,match_1,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
3,match_2,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
4,match_3,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
5,match_4,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
6,match_5,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
7,match_6,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
8,match_7,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
9,match_8,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
10,match_9,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
11,match_10,H,H,H,H,H,H,H,H,H,...,A,A,A,A,A,A,A,A,A,A
12,match_11,H,H,H,H,H,H,H,H,H,...,D,A,A,A,A,A,A,A,A,A
13,match_12,H,H,H,D,D,D,A,A,A,...,A,H,H,H,D,D,D,A,A,A
14,match_13,H,D,A,H,D,A,H,D,A,...,A,H,D,A,H,D,A,H,D,A

In [33]:
# the task here is to segregate the files so that we get what we want...
#from the file we want the picks that are in '_file2_'

import pandas as pd

def extract_picks(df):
    picks_list = df.loc[df['file_name'].str.contains('_file2_'), 'column_name'].tolist()
    return picks_list

In [34]:
# we create a list of all the picks that we are interested in...this is from sample_space_file_2

picks_list_D = extract_picks(results_df_assets_12)

In [35]:
picks_list_D

['pick_3390086',
 'pick_3219746',
 'pick_3731020',
 'pick_3908005',
 'pick_3336867',
 'pick_3789340',
 'pick_3219449',
 'pick_3335400',
 'pick_3514694',
 'pick_3337790',
 'pick_3966325',
 'pick_3396650',
 'pick_3219689',
 'pick_3908168',
 'pick_3514991',
 'pick_3339045',
 'pick_3907438',
 'pick_3336860',
 'pick_3966488',
 'pick_3335355',
 'pick_3212942',
 'pick_3508187',
 'pick_3508130',
 'pick_3790070',
 'pick_3212885',
 'pick_3330986',
 'pick_3213182',
 'pick_3339000',
 'pick_3508427',
 'pick_3967055',
 'pick_3789907',
 'pick_3514934',
 'pick_3338993',
 'pick_3331283',
 'pick_3336815',
 'pick_3331226',
 'pick_3335348',
 'pick_3396890',
 'pick_3396593',
 'pick_3337533']

In [36]:
import pandas as pd

def extract_picks(df, picks_list):
    assets_12_picks_D_List = df[picks_list]
    return assets_12_picks_D_List

In [37]:
# actually extracting the picks that we need...

assets_12_picks_D_List = extract_picks(sample_space_file_2, picks_list_D)

print(assets_12_picks_D_List)

   pick_3390086 pick_3219746 pick_3731020 pick_3908005 pick_3336867  \
0             H            H            H            H            H
1             A            A            A            A            A
2             H            H            D            D            H
3             D            H            H            D            H
4             H            H            H            H            A
5             D            D            H            H            D
6             H            D            D            D            D
7             A            A            D            D            D
8             H            H            A            A            A
9             H            D            A            A            H
10            A            A            A            H            A
11            A            A            A            A            A
12            A            A            A            A            A
13            H            D            A            A            H
14            A            A            D            D            H

   pick_3789340 pick_3219449 pick_3335400 pick_3514694 pick_3337790  ...  \
0             H            H            H            H            H  ...
1             A            A            A            A            A  ...
2             D            H            H            H            H  ...
3             H            H            H            D            H  ...
4             D            H            A            A            A  ...
5             H            D            D            D            D  ...
6             D            D            D            D            D  ...
7             D            A            D            A            A  ...
8             D            H            H            H            H  ...
9             A            H            H            H            D  ...
10            A            A            A            A            A  ...
11            A            H            A            H            H  ...
12            A            A            D            A            A  ...
13            A            D            H            D            D  ...
14            D            A            H            A            A  ...

   pick_3789907 pick_3514934 pick_3338993 pick_3331283 pick_3336815  \
0             H            H            H            H            H
1             A            A            A            A            A
2             D            H            H            H            H
3             H            D            H            H            H
4             D            A            A            A            A
5             H            D            D            D            D
6             D            D            D            H            D
7             D            A            A            A            D
8             A            H            A            H            A
9             A            D            H            D            H
10            H            A            A            A            A
11            A            H            H            A            H
12            A            A            D            A            A
13            A            H            H            D            H
14            D            A            A            A            A

   pick_3331226 pick_3335348 pick_3396890 pick_3396593 pick_3337533
0             H            H            H            H            H
1             A            A            A            A            A
2             H            H            H            H            H
3             H            H            D            D            H
4             A            A            H            H            A
5             D            D            D            D            D
6             H            D            D            D            D
7             A            D            A            A            A
8             H            H            H            H            H
9             D            H            D            H            H
10            A            A            A            A            A
11            H            H            A            H            H
12            A            D            A            A            D
13            H            H            H            H            H
14            A            A            A            A            H

[15 rows x 40 columns]

In [38]:
assets_12_picks_D_List.to_csv('/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_12/assets_12_picks_D_List.csv')